html {background: #F2F6F9;}

body {font-family: sans-serif;
    font-size: 15px;
    color: #153B56
    line-height: 1.;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;}

h1 {color: #9EBED6;
    font-family: serif;
    font-size: 100px;
    line-height: 1;
    margin:0}

h2 {color: #5783A3;
    font-family: serif;
    font-size: 55px;
    line-height: 0;
    margin: 1}

h3 {color: #9EBED6;
    font-family: serif;
    font-size: 30px;
    line-height: 1;
    margin: 0}

h4 {color: #153B56;
    font-family: serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0}

p {margin: 0;
    font-size: 16px;
    color: #153B56}


li {margin: 1em 0em 1em 0em;
    list-style: none;} 

ul {padding: 0;}

.price {font-style: italic;}
